body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.w3-irpg,.w3-hover-irpg:hover{color:#000!important;background-color:#FFFFF0!important}
table.irpg-table {
    border: 1px solid #c0c0c0;
    padding: 5px;
    text-align: left;
    width: 100%;
 }
 table.irpg-table th {
    text-align: right;
    padding-right: 10px;
 }

.irpg-item {
   text-align: center;
   padding: 10px 0;
   font-weight: bold;
   color: #FFFFFF;
   font-size: 30pt;
   width: 90px;
   height: 90px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   float: left;
   margin: 1px;
}
.irpg-amulet {
   background: url('../images/items.png') 0px 0px;
}
.irpg-boots {
   background: url('../images/items.png') -90px 0px;
}
.irpg-charm {
   background: url('../images/items.png') -180px 0px;
}
.irpg-gloves {
   background: url('../images/items.png') -270px 0px;
}
.irpg-helmet {
   background: url('../images/items.png') -360px 0px;
}
.irpg-leggings {
   background: url('../images/items.png') -450px 0px;
}
.irpg-ring {
   background: url('../images/items.png') -540px 0px;
}
.irpg-shield {
   background: url('../images/items.png') -630px 0px;
}
.irpg-tunic {
   background: url('../images/items.png') -720px 0px;
}
.irpg-weapon {
   background: url('../images/items.png') -810px 0px;
}
.irpg-penalty {
   width: 90px;
   height: 90px;
   margin: 1px;
}
.irpg-penalty-bar {
   border: 1px solid blue;
   width: 100%;
   float: left;
}
.irpg-mesg {
   background: url('../images/penalties.png') 0px 0px;
}
.irpg-kick {
   background: url('../images/penalties.png') -90px 0px;
}
.irpg-part {
   background: url('../images/penalties.png') -180px 0px;
}
.irpg-nick {
   background: url('../images/penalties.png') -270px 0px;
}
.irpg-quit {
   background: url('../images/penalties.png') -360px 0px;
}
.irpg-logout {
   background: url('../images/penalties.png') -450px 0px;
}
.irpg-quest {
   background: url('../images/penalties.png') -540px 0px;
}
