body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.w3-irpg,.w3-hover-irpg:hover{color:#000!important;background-color:#FFFFF0!important}
table.irpg-table {
    border: 1px solid #c0c0c0;
    padding: 5px;
    text-align: left;
    width: 100%;
 }
 table.irpg-table th {
    text-align: right;
    padding-right: 10px;
 }

